<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>清和商城</title>
	<link rel="stylesheet" href="/layui-v2.5.7/layui/css/layui.css">


	<script  src="/layui-v2.5.7/layer.mobile-v2.0/layer_mobile/layer.js"></script>

  
</head>

<body style="background:#f8f8f8;font-family:微软雅黑;">

<div style="height:44px;width:100%;background:white;border-bottom:1px solid #eee;display:flex;line-height:44px;align-items:center;text-align:center;font-weight:500;overflow:hidden;font-size:16px;color:#333;">
	<a href="/Mem" style="width:40px;"><i class="layui-icon layui-icon-left"  ></i></a>
	<div style="flex:1 1 60%;">购买产品</div>
	<div style="width:50px;"></div>	
</div>

<br>


<div>
	

	<div  style="display:flex;justify-content:flex-start;widthaa:100%;background:white;margin:10px;align-items:middle;font-weight:normal;padding:10px 0;">
			<!-- {$svo.img}/Public/jinriyixing/b.png-->

			<img src="{$one.img}" alt="" style="width:120px;height:auto;max-height:100px;">
			<div style="flex:1 1 80%;padding-left:10px;padding-top:6px;margin-right: 5px;">
				<div><span class="thetitle  aui-ellipsis-1" style="color:#1a1a1a;font-size:16px;font-weight:500; display:inline-block;">{$one.title}</span></div>
				 <div><span class="therank  aui-ellipsis-1" style="color:#aaa;font-size:13px;padding-top:4px;display:inline-block;">{$one.intro}</span></div>

				<div class="theaddr  aui-ellipsis-1" style="color:#aaa;font-size:13px;width:200px;padding-top:2px;display:inline-block;">价格：{$one['amt']}元/{$one['punit']}</div>

	 

				<div style="text-align:right;"><span href="/Public/nui/vip.png?a=22"   class="verimg" style="width:110px;padding-right:5px;margin-top:10px;background:#16B58F;color:white;padding:4px 18px;border-radius:15px;">购买</span></div>

			</div>
			
		</div>




		<!-- <div style="padding:3px 15px;display:flex;align-items:center;justify-content:space-between;background:white;">
			<div>数量</div>

			<div style="width:150px;display:flex;align-items:center;border:1px solid #aaa;line-height:38px;text-align:center;">
				<i class="layui-icon layui-icon-subtraction"   style="width:40px;flex-shrink:0;" ></i>

				<input style="flex:1 1 40px;width:40px;border-left:1px solid #aaa;border-right:1px solid #aaa;border-top:none;border-bottom:none;line-height:38px;text-align:center;"  value="5" readonly="" />	

				<i class="layui-icon layui-icon-addition"  style="width:40px;flex-shrink:0;" ></i>
				
			</div>
		</div> -->

		<style type="text/css">
	#kform{font-size: 15px;}
	#kform .kdiv{display:flex;height:46px;background:white;border-bottom:1px solid #f3f3f3;align-items:center;padding:0px 10px;justify-content:space-between;}
	#kform .ktitle{width:70px;padding:0 15px;text-align:right;}
	#kform .kinput{flex:1 1 70%;background:none;border:none;}
</style>
<div id="kform">
	
<div class="kdiv">
			<div class="ktitle">数量</div>

			<div style="width:150px;display:flex;align-items:center;border:1px solid #aaa;line-height:38px;text-align:center;">
				<i class="layui-icon layui-icon-subtraction"   style="width:40px;flex-shrink:0;" ></i>

				<input style="flex:1 1 40px;width:40px;border-left:1px solid #aaa;border-right:1px solid #aaa;border-top:none;border-bottom:none;line-height:38px;text-align:center;"  value="5" readonly="" />	

				<i class="layui-icon layui-icon-addition"  style="width:40px;flex-shrink:0;" ></i>
				
			</div>
		</div>


	 
	<div class="kdiv">
		<span class="ktitle">金额</span>
		<input placeholder="请联系手机号" value="" class="kinput"  type="text">
	</div>
	 <div class="kdiv">
		<span class="ktitle">备注</span>
		<input placeholder="请联系手机号" value="" class="kinput"  type="text">
	</div>

</div>




		<!-- <div style="padding:3px 15px;display:flex;align-items:center;justify-content:space-between;background:white;">
			<div>金额</div>

			<div style="width:150px;display:flex;align-items:center;border:1px solid #aaa;line-height:38px;text-align:center;">
				<i class="layui-icon layui-icon-subtraction"   style="width:40px;flex-shrink:0;" ></i>

				<input style="flex:1 1 40px;width:40px;border-left:1px solid #aaa;border-right:1px solid #aaa;border-top:none;border-bottom:none;line-height:38px;text-align:center;"  value="5" readonly="" />	

				<i class="layui-icon layui-icon-addition"  style="width:40px;flex-shrink:0;" ></i>
				
			</div>

		</div> -->


</div>






<br><br><br>
	<style type="text/css">
		.mitem {
			width: 120px;
			text-align: center;
			display: flex;
			align-items:center;
			justify-content:center;


		}

		.mimg {
			width: auto;
			height: 28px;
			display: block;
			margin: 0 auto;
		}

		#kmenuflex div {
			font-size: 13px;
			color: #666;
		}
		#kmenuflexaa i {
			font-size: 22px;
			margin-bottom:2px;
			margin-top: 2px;
			color: #666;
			display: inline-block;
		}
	</style>
	<div id="kmenuflex"
		style="display:flex;position:fixed;bottom:0;left:0;right:0;height:54px;background:white;border-top:0px solid #f4f4f4;">
		<a href="/Mem/index" class="mitem">
			<!-- <img src="/Public/nui/1<eq name="aflag" value="index">1</eq>.png" class="mimg">
			<div style="<eq name="aflag" value="index">color:#16B58F;</eq>">首页</div> -->
			<i class="layui-icon layui-icon-rmb"  style="<eq name="aflag" value="index">color:#16B58F;</eq>"></i>  
			<div style="color:red;font-size:1.5em;">3344</div>
		</a>
		
		 
		<a href="/Mem/buyone/id/{$one.id}" onclickaa="showpg()" class="mitem" style="flex:1 1 40%;font-size:16px;display:flex;align-items:center;justify-content:space-around;background:red;color:white;">
			加入购物车			 
		</a>
	 </div>












</body>

</html>