<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>清和商城</title>
	<link rel="stylesheet" href="/layui-v2.5.7/layui/css/layui.css">
</head>

<body style="background:#f8f8f8;">

<style type="text/css">
	#mydiv{display: flex;background: white;margin: 15px;flex-direction:column;}
	#mydiv a{border:1px solid gray;  padding:15px 5px;}
</style>

<div id="mydiv">
<a target="_blank" href="/Mem/buyonecp/id/1">/Mem/buyonecp/id/1</a>
<a target="_blank" href="/Mem/buyone/id/1">/Mem/buyone/id/1</a>
<a target="_blank" href="/Mem/buyone2/id/1">/Mem/buyone2/id/1</a>
<a target="_blank" href="/Mem/one/id/1">/Mem/one</a>
<a target="_blank" href="/Mem/addr">/Mem/addr</a>

</div>


  <include file="Mem:_menu4" />


</body>

</html>